*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}

body{
 font-family:Poppins,sans-serif;
 background:#f8fafc;
}

/* TOP BAR */
.topbar{
 background:white;
 padding:12px 20px;
 display:flex;
 align-items:center;
 gap:15px;
 border-bottom:1px solid #e5e7eb;
 position:sticky;
 top:0;
 z-index:10;
}

.back-btn{
 background:#2563eb;
 color:white;
 border:none;
 padding:8px 14px;
 border-radius:6px;
 cursor:pointer;
}

/* LOADER */
.spinner{
 width:40px;
 height:40px;
 border:4px solid #ddd;
 border-top:4px solid #2563eb;
 border-radius:50%;
 margin:50px auto;
 animation:spin 1s linear infinite;
 display:none;
}

@keyframes spin{
 to{transform:rotate(360deg)}
}

/* GRID */
/* GRID LIKE GOOGLE PHOTOS */
.gallery{
 padding:20px;
 display:grid;
 grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
 gap:10px;
}

/* IMAGE CARD */
.card{
 position:relative;
 border-radius:8px;
 overflow:hidden;
 background:#000;
}

/* IMAGE */
.card img{
 width:100%;
 height:100%;
 aspect-ratio:4/3;   /* landscape */
 object-fit:cover;
 display:block;
 cursor:pointer;
}


.trash,
.cover{
 position:absolute;
 top:8px;
 width:30px;
 height:30px;
 border-radius:50%;
 display:flex;
 align-items:center;
 justify-content:center;
 font-size:13px;
 color:white;
 background:rgba(0,0,0,.6);
 cursor:pointer;
}

/* positions */
.trash{ right:8px; }
.cover{ left:8px; }

/* active cover */
.cover[style*="22c55e"]{
 background:#22c55e!important;
}

/* HOVER EFFECT */
.card:hover .trash,
.card:hover .cover{
 background:rgba(0,0,0,.85);
}

/* DELETE ANIMATION */
.card.deleting{
 opacity:.3;
 transform:scale(.95);
 transition:.3s;
}

/* MODAL */
.modal{
 position:fixed;
 inset:0;
 background:rgba(0,0,0,.9);
 display:none;
 justify-content:center;
 align-items:center;
}

.modal img{
 max-width:90%;
 max-height:90%;
}

.modal span{
 position:absolute;
 top:20px;
 right:30px;
 font-size:32px;
 color:white;
 cursor:pointer;
}

/* TOAST */
#toast{
 position:fixed;
 bottom:20px;
 right:20px;
 background:#2563eb;
 color:white;
 padding:10px 18px;
 border-radius:6px;
 display:none;
}
.topbar{
 background:white;
 padding:12px 20px;
 display:flex;
 align-items:center;
 gap:15px;
 border-bottom:1px solid #ddd;
}

