*{
  box-sizing:border-box;
}

body{
  font-family: "Segoe UI", sans-serif;
  background:#f3f4f6;
  margin:0;
  padding:0;
}

.wrapper{
  max-width:1300px;
  margin:auto;
  padding:40px 20px;
}

/* TITLE */
.page-title{
  font-size:32px;
  font-weight:600;
  margin-bottom:20px;
  display:flex;
  align-items:center;
}

.page-title::before{
  content:"";
  width:4px;
  height:30px;
  background:#a855f7;
  margin-right:10px;
}

/* FILTER BAR */
.top-bar{
  background:#fff;
  padding:15px 20px;
  border-radius:6px;
  display:grid;
  grid-template-columns:1fr 160px 160px 1fr;
  gap:15px;
  margin-bottom:30px;
  align-items:center;
}

.top-bar select,
.top-bar input{
  padding:10px;
  border:1px solid #ddd;
  border-radius:5px;
  font-size:14px;
}

.total{
  font-size:15px;
  color:#444;
}

/* GRID */
.event-grid{
  display:grid;
  grid-template-columns:
  repeat(auto-fill,minmax(260px,1fr));
  gap:25px;
}

/* CARD */
.event-card{
  background:#fff;
  border-radius:6px;
  overflow:hidden;
  box-shadow:0 4px 12px rgba(0,0,0,.08);
  transition:.3s;
  cursor:pointer;
}

.event-card:hover{
  transform:translateY(-5px);
}

/* IMAGE */
.event-card img{
  width:100%;
  height:180px;
  object-fit:cover;
}

/* CONTENT */
.card-body{
  padding:12px;
}

.card-body h3{
  font-size:16px;
  margin:0 0 8px;
  font-weight:600;
}

/* META */
.meta{
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-size:13px;
  color:#666;
}

/* DATE */
.date{
  color:#ef4444;
  font-weight:600;
  display:flex;
  align-items:center;
  gap:5px;
}

/* COUNT */
.count{
  background:#ef4444;
  color:white;
  padding:2px 7px;
  border-radius:4px;
  font-size:12px;
  display:flex;
  align-items:center;
  gap:4px;
}

/* DESC */
.desc{
  font-size:13px;
  color:#555;
  margin-top:6px;
}
.download-btn{
  display:block;
  text-align: center;
  background: #3b82f6;
  color: white;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 8px;
  transition: 3s;
  font-size:14px;
}
.donwload-btn:hover{
  background: #2563eb;
}
